/* 검색 결과 출력 영역 */
#result {
  border: 1px solid rgb(118, 229, 168);
  color: black;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: 66px;
  margin-top: 40px;
}
.row {
  margin-bottom: 20px;
  margin-right: 110px;
}

/* 아이디 검색 버튼 스타일 */
.btn-findid {
  background-color: rgb(118, 229, 168);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* 버튼 스타일 */
button:not(.btn-findid) {
  background-color: transparent;
  color: #01e283;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

/* 폼 전체 스타일 */
#findid-form{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

/* 헤더와 푸터 스타일 */
header, footer {
  background-color: #f2f2f2;
  color: #01e283;
  padding: 10px;
  text-align: center;
}

/* h1 태그 스타일 */
h1 {
  text-align: center;
  color: rgb(118, 229, 168);
  margin-bottom: 30px;
}