<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dbp.naemom.dao.MapDAO">
  	
  	<select id="selectGetProductList" resultType="kr.dbp.naemom.vo.ProductVO">
  		select * from product
  	</select>
  	
  	<select id="selectGetProductListCri" resultType="kr.dbp.naemom.vo.ProductVO">
  		select * from product
  			where (pd_title like concat('%',#{cri.search},'%') or pd_street_address like concat('%',#{cri.search},'%')) 
  			order by ${cri.orderBy} desc
  			limit #{cri.pageStart}, #{cri.perPageNum}
  	</select>
  	
  	<select id="getFileList" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_category = '게시글 썸네일' and fi_table = 'product'
  	</select>
  	
  	<select id="getFile" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_table_key=#{pd_num} and fi_table=#{product} and fi_category=#{fi_category}
  	</select>

	<select id="selectProductByCategory" parameterType="int" resultType="kr.dbp.naemom.vo.ProductVO">
	  SELECT * FROM product WHERE pd_pc_num = #{pd_pc_num}
	</select>
  	
  	<select id="selectSearchProduct" resultType="kr.dbp.naemom.vo.ProductVO">
  		SELECT * FROM product
  		LEFT JOIN product_checked ON pdc_pd_num = pd_num
  		WHERE pd_title LIKE CONCAT('%', #{product.pd_title}, '%') OR pd_street_address LIKE CONCAT('%', #{product.pd_street_address}, '%')
	</select>
  	
  	
  	<select id="selectProductCategory" resultType="kr.dbp.naemom.vo.ProductCategoryVO">
  		select * from product_category
  	</select>
  	
  	<select id="selectProductNum" resultType="kr.dbp.naemom.vo.ProductVO">
  		select * from product where pd_pc_num = #{pd_num}
  	</select>
  	
  	<select id="selectProductImg" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_table_key = #{pd_num} and fi_category like concat('%',#{fi_category},'%') 
  			and fi_table = #{fi_table}
  	</select>
  	
  	<select id="selectTotalCountProduct" resultType = "int">
  		select count(*) from product
  			where (pd_title like concat('%',#{cri.search},'%') or pd_street_address like concat('%',#{cri.search},'%')) 
  			
  	</select>
  	
</mapper>