<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dbp.naemom.dao.OrderDAO">
  	<select id="selectProduct" resultType="kr.dbp.naemom.vo.ProductVO">
  		select * from product where pd_num = #{pd_num}
  	</select>
  	<select id="selectTravelOption" resultType="kr.dbp.naemom.vo.Option_landMarkVO">
  		select * from landmark_option where lo_pd_num = #{pd_num}
  	</select>
  	<select id="selectFoodOption" resultType="kr.dbp.naemom.vo.Option_restrauntVO">
  		select * from restraunt_option where reo_pd_num = #{pd_num}
  	</select>
  	<select id="selectHomeOption" resultType="kr.dbp.naemom.vo.Option_accomodationVO">
  		select * from accomodation_option 
  			where ao_pd_num = #{pd_num}
  			order by ao_name asc
  	</select>
  	<select id="selectFestivalOption" resultType="kr.dbp.naemom.vo.Option_festivalVO">
  		select * from festival_option where fo_pd_num = #{pd_num}
  	</select>
  	<select id="selectFileByPdNum" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_table_key = #{fi_table_key} and fi_category like concat('%',#{fi_category},'%') 
  			and fi_table = #{fi_table}
  	</select>
  	<insert id="insertBasket">
  		insert into shopping_basket(sb_me_id,sb_amount,sb_table,sb_table_key,sb_price, sb_date, sb_time)
  		values(#{me_id},#{tmp.pr_amount},#{tmp.pr_category},#{tmp.pr_option_num},#{tmp.pr_price}, #{tmp.pr_date}, #{tmp.pr_time})
  	</insert>
  	<resultMap type="kr.dbp.naemom.vo.Shopping_basketVO" id="selectBasketByOption">
  		<id property="sb_num" column="sb_num"/>
  		<result property="sb_me_id" column="sb_me_id"/>
  		<result property="sb_amount" column="sb_amount"/>
  		<result property="sb_table" column="sb_table"/>
  		<result property="sb_table_key" column="sb_table_key"/>
  		<result property="sb_price" column="sb_price"/>
  		<collection property="travel" ofType="kr.dbp.naemom.vo.Option_landMarkVO" column="{sb_table=sb_table, sb_table_key=sb_table_key}" select="selectTravelListByKey"></collection>
  		<collection property="food" ofType="kr.dbp.naemom.vo.Option_restrauntVO" column="{sb_table=sb_table, sb_table_key=sb_table_key}" select="selectFoodListByKey"></collection>
  		<collection property="home" ofType="kr.dbp.naemom.vo.Option_accomodationVO" column="{sb_table=sb_table, sb_table_key=sb_table_key}" select="selectHomeListByKey"></collection>
  		<collection property="festival" ofType="kr.dbp.naemom.vo.Option_festivalVO" column="{sb_table=sb_table, sb_table_key=sb_table_key}" select="selectFestivalListByKey"></collection>
  	</resultMap>
  	<select id="selectBasket" resultMap="selectBasketByOption">
  		select * from shopping_basket where sb_me_id = #{me_id}
   	</select>
   	<select id="selectTravelListByKey" resultType="kr.dbp.naemom.vo.Option_landMarkVO" parameterType="java.util.Map">
   		select * from landMark_option where lo_num =  #{sb_table_key} and #{sb_table} = 'landmark_option'
   	</select>
   	<select id="selectFoodListByKey" resultType="kr.dbp.naemom.vo.Option_restrauntVO" parameterType="java.util.Map">
   		select * from restraunt_option where reo_num = #{sb_table_key} and #{sb_table} = 'restraunt_option'
   	</select>
   	<select id="selectHomeListByKey" resultType="kr.dbp.naemom.vo.Option_accomodationVO" parameterType="java.util.Map">
   		select * from accomodation_option where ao_num = #{sb_table_key} and #{sb_table} = 'accomodation_option'
   	</select>
   	<select id="selectFestivalListByKey" resultType="kr.dbp.naemom.vo.Option_festivalVO" parameterType="java.util.Map">
   		select * from festival_option where fo_num = #{sb_table_key} and #{sb_table} = 'festival_option'
   	</select>
   	<delete id="deleteBasket">
   		delete from shopping_basket where sb_me_id = #{me_id} and sb_num = #{sb_num} 
   	</delete>
   	<delete id="deleteAllBasket">
   		delete from shopping_basket where sb_me_id = #{me_id}
   	</delete>
   	<select id="selectBasketBySbNum" resultMap="selectBasketByOption">
   		select * from shopping_basket where sb_me_id = #{me_id} and sb_num = #{sb_num}
   	</select>
   	
   	<!-- <insert id="insertBuyList">
		
		INSERT INTO buy_list (bl_num, bl_state, bl_total_price, bl_stack_mile, bl_use_mile, bl_me_id, bl_name)
		SELECT CONCAT(CONCAT(SUBSTR(DATE_FORMAT(NOW(),'%Y%m%d'), 1, 8)), RIGHT(CONCAT('000', IFNULL(MAX(CAST(SUBSTR(bl_num, 9) AS UNSIGNED)), 0) + 1), 3)),
			#{bl.bl_state},#{bl.bl_total_price},#{bl.bl_stack_mile},#{bl.bl_use_mile},#{bl.bl_me_id},#{bl.bl_name}
		FROM buy_list;
		<selectKey keyProperty="bl.bl_num" resultType="java.lang.String" order="AFTER">
			select bl_num from buy_list order by bl_num desc  limit 1
		</selectKey>
	</insert> -->
	<insert id="insertBuyList">
		insert into buy_list(bl_num, bl_state, bl_total_price, bl_stack_mile, bl_use_mile, bl_me_id, bl_name)
		values(#{bl.bl_num},#{bl.bl_state},#{bl.bl_total_price},#{bl.bl_stack_mile},#{bl.bl_use_mile},#{bl.bl_me_id},#{bl.bl_name})
	</insert>
	<insert id="insertOrderList">
		insert into order_list(ol_amount, ol_price, ol_table, ol_table_key, ol_date, ol_bl_num, ol_time)
		select sb_amount, sb_price, sb_table, sb_table_key, sb_date, #{bl_num} , sb_time
			from shopping_basket where sb_num = #{sb_num}
	</insert>
	<update id="updateBuyList">
		update buy_list
			set 
				bl_state = #{state}
			where
				bl_num = #{bl_num} and bl_me_id = #{me_id}
	</update>
	<delete id="deleteOrderList">
	   	delete from order_list where ol_bl_num = #{bl_num}
	</delete>
	<delete id="deleteBuyList">
		delete from buy_list where bl_num = #{bl_num} and bl_me_id = #{me_id}
	</delete>
	
	<resultMap type="kr.dbp.naemom.vo.Buy_listVO" id="selectBuyListByOrderList">
  		<id property="bl_num" column="bl_num"/>
  		<result property="bl_state" column="bl_state"/>
  		<result property="bl_total_price" column="bl_total_price"/>
  		<result property="bl_stack_mile" column="bl_stack_mile"/>
  		<result property="bl_use_mile" column="bl_use_mile"/>
  		<result property="bl_me_id" column="bl_me_id"/>
  		<result property="bl_name" column="bl_name"/>
  		<collection property="orderlist" ofType="kr.dbp.naemom.vo.Order_listVO" column="{bl_num=bl_num}" select="selectOrderListByBlNum"></collection>
  		<collection property="useMember" ofType="kr.dbp.naemom.vo.Use_memberVO" column="{bl_num=bl_num}" select="selectUseMemberByBlNum"></collection>
  	</resultMap>
	<select id="selectBuyListByBlNum" resultMap="selectBuyListByOrderList">
		select * from buy_list where bl_num = #{bl_num}
	</select>
  	<select id="selectOrderListByBlNum" resultType="kr.dbp.naemom.vo.Order_listVO" parameterType="java.util.Map">
   		select * from order_list where ol_bl_num = #{bl_num}
   	</select>
   	<select id="selectUseMemberByBlNum" resultType="kr.dbp.naemom.vo.Use_memberVO" parameterType="java.util.Map">
   		select * from use_member where um_bl_num = #{bl_num}
   	</select>
   	
   	<insert id="insertUseMember">
   		insert into use_member(um_bl_num, um_name, um_email, um_phone)
   		values(#{um.um_bl_num}, #{um.um_name},#{um.um_email},#{um.um_phone})
   	</insert>
   	
   	<insert id="insertMileage">
   		insert into mileage(mi_update, mi_me_id, mi_bl_num)
   		values(#{mi_update},#{bl.bl_me_id},#{bl.bl_num})
   	</insert>
   	<update id="updateMemberByMileage">
   		update member
   			set
   				me_mileage = me_mileage + #{mi_update}
   			where
   				me_id = #{bl.bl_me_id}
   	</update>
   	<select id="selectFood" resultType="kr.dbp.naemom.vo.Reservated_optionVO">
   		select * from reservated_option where ro_date = #{ro.ro_date} and ro_pd_num = #{ro.ro_pd_num} and ro_me_id = #{me_id}
   	</select>
   	<update id="updateBasket">
   		update shopping_basket 
   			set
   				sb_amount = sb_amount + #{tmp.pr_amount},
   				sb_price = sb_price + #{tmp.pr_price}
   			where
   				sb_me_id = #{me_id} and sb_table = #{tmp.pr_category} and sb_table_key = #{tmp.pr_option_num}
   				and sb_date = #{tmp.pr_date} and sb_time = #{tmp.pr_time}
   	</update>
   	<select id="selectBasketById" resultType="kr.dbp.naemom.vo.Shopping_basketVO">
   		select * from shopping_basket where sb_me_id = #{me_id}
   	</select>
   	<select id="selectBasketAndPdNum" resultMap="selectBasketByOption">
   		select * from shopping_basket where sb_num = #{sb_num} and sb_me_id = #{me_id}
   	</select>
   	<select id="selectDayOff" resultMap="selectDayOffAndTempOff">
   		select * from day_off where do_pd_num = #{pd_num} and do_state = '임'
   	</select>
   	<resultMap type="kr.dbp.naemom.vo.DayOFFVO" id="selectDayOffAndTempOff">
  		<id property="do_num" column="do_num"/>
  		<result property="do_pd_num" column="do_pd_num"/>
  		<result property="do_state" column="do_state"/>
  		<result property="do_date" column="do_date"/>
  		<collection property="tempOff" ofType="kr.dbp.naemom.vo.TempOFFVO" column="{do_num=do_num}" select="selectTempOffByDayOff"></collection>
  	</resultMap>
  	<select id="selectTempOffByDayOff" resultType="kr.dbp.naemom.vo.TempOFFVO" parameterType="java.util.Map">
  		select * from temp_off where to_do_num = #{do_num}
  	</select>
  	<select id="selectFoodOptionByTableKey" resultType="kr.dbp.naemom.vo.Option_restrauntVO">
  		select * from restraunt_option where reo_num = #{ol_table_key}
  	</select>
  	<select id="selectHomeOptionByTableKey" resultType="kr.dbp.naemom.vo.Option_accomodationVO">
  		select * from accomodation_option where ao_num = #{ol_table_key}
 	</select>
 	<insert id="insertFoodOption">
 		insert into reservated_option(ro_option_name, ro_date, ro_time, ro_pd_num, ro_me_id)
 		values(#{food.reo_name}, #{tmp.ol_date}, #{tmp.ol_time},#{food.reo_pd_num},#{me_id})
 	</insert>
	<insert id="insertHomeOption">
 		insert into reservation_room(rr_check_in,rr_check_out, rr_ao_num, rr_pd_num, rr_me_id)
 		values(#{tmp.ol_date},#{date},#{home.ao_num},#{home.ao_pd_num},#{me_id})
 	</insert>
 	<select id="selectReservRoom" resultType="kr.dbp.naemom.vo.Reservation_roomVO">
 		select * from reservation_room where rr_ao_num = #{ao_num} and
 			((rr_check_in &lt;= #{checkIn} &lt;= rr_check_out) or 
 			(rr_check_in &lt;= #{checkOut} &lt;= rr_check_out) or
 			(#{checkIn} &lt;= rr_check_in &lt;= #{checkOut}) or 
 			(#{checkIn} &lt;= rr_check_out &lt;= #{checkOut}))
 	</select>
 	<select id="selectReservFood" resultType="int">
 		select count(*) from reservated_option where ro_pd_num = #{pd_num} and ro_date = #{date} and ro_time = #{time}
 	</select>
 	<select id="selectBasketCheck" resultType="int">
 		select count(*) from shopping_basket
 			join restraunt_option on reo_num = #{item.sb_table_key}
 			where reo_pd_num = #{pd_num} and sb_time = #{item.sb_time} and sb_date = #{item.sb_date}
 	</select>
</mapper>















