<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dbp.naemom.dao.ReviewDAO">
  	<insert id="insertReview" useGeneratedKeys="true" keyProperty="re.re_num">
  		insert into review(re_me_id, re_content, re_date, re_rating, re_pd_num)
  		value(#{re.re_me_id}, #{re.re_content}, now(), #{re.re_rating}, #{re.re_pd_num})
  	</insert>
  	
 	<insert id="insertFile">
  		insert into file(fi_ori_name, fi_name, fi_table_key, fi_table)
  		values(#{fi.fi_ori_name},#{fi.fi_name},#{fi.fi_table_key}, #{fi.fi_table})
  	</insert>
  	
  	 <select id="selectReviewList" resultType="kr.dbp.naemom.vo.ReviewVO">
  	select * from review where
  		re_pd_num = #{pd_num}
  		order by re_num desc
  		limit
  			#{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="selectTotalCountReviewList" resultType="int">
  	select 
  		count(*) 
  	from 
  		review
  	where
  		re_pd_num = #{pd_num}
  </select>
  
  <select id="getFileByReview" resultType="kr.dbp.naemom.vo.FileVO">
  	select * from file left join review on fi_table_key=re_num where fi_table =#{review} and re_num=#{re_num}
  </select>
  
  <delete id="deleteReview">
  	delete from review where re_num=#{re_num} and re_me_id=#{me_id}
  </delete>
  
  <select id="selectRCommentList" resultType="kr.dbp.naemom.vo.ReviewCommentVO">
  	select * from review_comment where rc_re_num = #{rc_re_num}  		
  		order by rc_num desc limit #{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="selectTotalCountReviewCommentList" resultType="int">
  	  	select 
	  		count(*) 
	  	from 
	  		review_comment
	  	where
	  		rc_re_num = #{rc_re_num}
  </select>
  <insert id="insertReviewComment">
  	insert into review_comment(rc_re_num,rc_me_id,rc_content,rc_date)
  	value(#{rc.rc_re_num},#{rc_me_id},#{rc.rc_content},now())
  </insert>
  
  <delete id="deleteReviewComment">
  	delete from review_comment where rc_num=#{rc_num} and rc_me_id=#{rc_me_id}
  </delete>
</mapper>

