<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dbp.naemom.dao.SearchDAO">
 
 	<select id="getProduct" resultMap="productMap" parameterType="map">
	    SELECT *
	    FROM product
	    JOIN file ON pd_num = fi_table_key
	    <if test="cri.orderBy == 'wish'">
	     JOIN wishitem ON product.pd_num = wishitem.wi_pd_num
	    </if>
	    WHERE fi_category = "게시글 썸네일"
	      AND pd_pc_num = #{pd_pc_num} and fi_table="product"
	      <if test="cri.search != null and cri.search != ''">
	          and (pd_title like concat("%",#{cri.search},"%")
	            or pd_content like concat("%",#{cri.search},"%")
	            or pd_street_address like concat("%",#{cri.search},"%")
	            or pd_registerd_address like concat("%",#{cri.search},"%"))
	      </if>
	      <if test="cri.orderBy == 'view'">
	          ORDER BY pd_viewcount DESC
	      </if>
	      <if test="cri.orderBy == 'wish'">	         
	          GROUP BY product.pd_num
	          ORDER BY COUNT(wi_num) DESC
	      </if>
	      	limit #{cri.pageStart}, #{cri.perPageNum}
	</select>


	<resultMap id="productMap" type="kr.dbp.naemom.vo.ProductVO">
	    <result property="pd_num" column="pd_num"/>
	    <result property="pd_title" column="pd_title"/>
	    <result property="pd_subtitle" column="pd_subtitle"/>
	    <result property="pd_content" column="pd_content"/>
	    <result property="pd_street_address" column="pd_street_address"/>
	    <result property="pd_registerd_address" column="pd_registerd_address"/>
	    <result property="pd_detail_address" column="pd_detail_address"/>
	    <result property="pd_viewcount" column="pd_viewcount"/>
	    <result property="pd_pc_num" column="pd_pc_num"/>
	    	<association property="file" javaType="kr.dbp.naemom.vo.FileVO">
	    		<result property="fi_name" column="fi_name"/>
	    		<result property="fi_num" column="fi_num"/>
	    	</association>
	    <collection property="wishCount" column="pd_num" select="getWishCountByPdNum"/>
	</resultMap>
	
	<select id="getWishCountByPdNum" resultType="Integer">
	    select coalesce(count(*), 0) from wishitem where wi_pd_num=#{pd_num}
	</select>
		<select id="getCourse" resultMap="courseMap" parameterType="map">
	    SELECT *
	    FROM course
	    JOIN course_item ci ON co_num = ci_co_num
	    JOIN file ON ci_num = fi_table_key
	    WHERE ci_index = "1"
	    AND fi_table = "product"
	    AND fi_category = "게시글 썸네일"
	        <if test="cri.search != null and cri.search != ''">
		          and (co_title like concat("%",#{cri.search},"%")
		            or co_content like concat("%",#{cri.search},"%"))
	        </if>
	    limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<resultMap type="kr.dbp.naemom.vo.CourseVO" id="courseMap">
	    <result property="co_me_id" column="co_me_id"/>
	    <result property="co_num" column="co_num"/>
	    <result property="co_title" column="co_title"/>
	    <result property="co_content" column="co_content"/>
	    <result property="co_view" column="co_view"/>
	    <result property="co_up" column="co_up"/>
	    <result property="co_down" column="co_down"/>
	    <result property="co_register_date" column="co_register_date"/>
	        <association property="file" javaType="kr.dbp.naemom.vo.FileVO">
	            <result property="fi_name" column="fi_name"/>
	            <result property="fi_num" column="fi_num"/>
	        </association>		
	</resultMap> 
	
	<select id="getFeListByDate" resultType="kr.dbp.naemom.vo.ProductVO">
		SELECT pd_title,pd_num, pd_fe_start,pd_fe_end FROM product 
			WHERE pd_pc_num = 4
			<if test="day gte 10 ">
				and (pd_fe_start = CONCAT(#{year}, '-', #{month}, '-', #{day}) OR LAST_DAY(CONCAT(#{year}, '-', #{month}, '-', #{day})) = pd_fe_end)
			</if>
			<if test="day gte 1 and day lte 9">
				and (pd_fe_start = CONCAT(#{year}, '-', #{month}, '-0', #{day}) OR LAST_DAY(CONCAT(#{year}, '-', #{month}, '-0', #{day})) = pd_fe_end)
			</if>
	</select>
	

</mapper>

